# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [13]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [14]:
# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].nunique()
school_count

15

## District Summary

In [15]:
# Calculate the total number of students
student_count = school_data_complete['student_name'].count()
student_count

39170

In [16]:
# Calculate the total budget
total_budget = school_data_complete["budget"].unique().sum()
total_budget

24649428

In [17]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [18]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [19]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count/ float(student_count) *100
passing_math_percentage

74.9808526933878

In [20]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float (student_count) * 100
passing_reading_percentage

85.80546336482001

In [21]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

## School Summary

In [22]:
#Perform the necessary calculations and then create a DataFrame that summarizes key metrics about each school.

#Include the following:

#School name

#School type

#Total students

#Total school budget

#Per student budget

#Average math score

#Average reading score

#% passing math (the percentage of students who passed math)

#% passing reading (the percentage of students who passed reading)

#% overall passing (the percentage of students who passed math AND reading)

In [298]:
# Use the code provided to select the school type
#school_types = school_data.set_index(["school_name"])["type"].nunique
school_types = school_data.set_index(["school_name"])["type"]

school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [24]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
# Formatting

district_summary =  pd.DataFrame({
    "Total Schools": school_count,
    "Total Students": f"{student_count:,}",
    "Total Budget": f"${total_budget:,.2f}",
    "Average Math Score": f"{average_math_score:.6f}",
    "Average Reading Score": f"{average_reading_score:.5f}",
    "% Passing Math": f"{passing_math_percentage:.6f}",
    "% Passing Reading": f"{passing_reading_percentage:.6f}",
    "% Overall Passing": f"{overall_passing_rate: .6f}"
}, index=[0])
# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [261]:
#School name
school_name = school_data_complete.school_name.sort_values().unique()
school_name

array(['Bailey High School', 'Cabrera High School',
       'Figueroa High School', 'Ford High School', 'Griffin High School',
       'Hernandez High School', 'Holden High School', 'Huang High School',
       'Johnson High School', 'Pena High School', 'Rodriguez High School',
       'Shelton High School', 'Thomas High School', 'Wilson High School',
       'Wright High School'], dtype=object)

In [299]:
#school types
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [300]:
# total student count

total_student = list(school_summary.student_name.count())
total_student

[4976,
 1858,
 2949,
 2739,
 1468,
 4635,
 427,
 2917,
 4761,
 962,
 3999,
 1761,
 1635,
 2283,
 1800]

In [301]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [302]:
per_school_capita = per_school_budget / total_student
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
Name: budget, dtype: float64

In [303]:
# Calculate the average test scores
per_school_math = list(school_summary.math_score.mean())
per_school_math

[77.04843247588424,
 83.06189451022605,
 76.71176670057646,
 77.10259218692954,
 83.35149863760218,
 77.28975188781014,
 83.80327868852459,
 76.62941378128214,
 77.07246376811594,
 83.83991683991684,
 76.84271067766942,
 83.3594548551959,
 83.4183486238532,
 83.2742006132282,
 83.68222222222222]

In [304]:
per_school_reading =list(school_summary.reading_score.mean())
per_school_reading

[81.03396302250803,
 83.97578040904197,
 81.15801966768396,
 80.74625775830594,
 83.816757493188,
 80.9344120819849,
 83.81498829039812,
 81.18272197463148,
 80.96639361478681,
 84.04469854469855,
 80.74468617154288,
 83.72572402044293,
 83.84892966360856,
 83.98948751642575,
 83.955]

In [305]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby(["school_name"])["math_score"].count()/total_student*100
school_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: math_score, dtype: float64

In [306]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/total_student*100
school_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [307]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >=70)]
passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
30,30,Bobby Harris,M,9th,Huang High School,94,99,0,District,2917,1910635
32,32,Candace Phelps,F,11th,Huang High School,93,90,0,District,2917,1910635
36,36,Kevin Bailey,M,10th,Huang High School,76,76,0,District,2917,1910635
38,38,Kimberly Mercado,F,12th,Huang High School,73,77,0,District,2917,1910635
41,41,Jennifer Parks,F,11th,Huang High School,85,95,0,District,2917,1910635
47,47,Ellen Brown,F,11th,Huang High School,77,81,0,District,2917,1910635
49,49,Natalie Mitchell,F,10th,Huang High School,73,93,0,District,2917,1910635
50,50,Tiffany Gutierrez,F,10th,Huang High School,82,95,0,District,2917,1910635
55,55,Jerry Gordon,M,12th,Huang High School,95,71,0,District,2917,1910635
56,56,Michael Cox,M,11th,Huang High School,72,72,0,District,2917,1910635
58,58,Allison King,F,11th,Huang High School,74,84,0,District,2917,1910635
59,59,Theresa Meyer,F,9th,Huang High School,88,70,0,District,2917,1910635
66,66,Mr. Dylan Taylor MD,M,10th,Huang High School,77,93,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39139,39139,Catherine Lee,F,9th,Thomas High School,83,81,14,Charter,1635,1043130
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [308]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby(["school_name"])["math_score"].count()
percentage_passing_math = per_school_passing_math / total_student * 100
percentage_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: math_score, dtype: float64

In [309]:
per_school_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(["school_name"])["reading_score"].count()
percentage_passing_reading = per_school_passing_reading / total_student * 100
percentage_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: reading_score, dtype: float64

In [310]:
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / total_student * 100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: student_name, dtype: float64

In [312]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

per_school_summary = pd.DataFrame ({"School Type": school_types,
                                    "Total Students": total_student,
                                    "Total School Budget": per_school_budget,
                                    "Per Student Budget": per_school_capita,
                                    "Average Math Score": per_school_math,
                                    "Average Reading Score": per_school_reading,
                                    "% Passing Math": per_school_passing_math,
                                    "% Passing Reading": per_school_passing_reading,
                                    "% Overall Passing Rate": overall_passing_rate})

per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,3318,4077,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,1749,1803,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,1946,2381,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,1871,2172,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,1371,1426,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,3094,3748,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,395,411,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,1916,2372,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,3145,3867,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,910,923,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,2654,3208,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,1653,1688,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,1525,1591,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,2143,2204,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,1680,1739,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [313]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by='% Overall Passing Rate', ascending=False).head(5).reset_index(drop=True)

top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,1749,1803,91.334769
1,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,1525,1591,90.948012
2,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,1371,1426,90.599455
3,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,2143,2204,90.582567
4,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,910,923,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [314]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by='% Overall Passing Rate', ascending=True).head(5).reset_index(drop=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,2654,3208,52.988247
1,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,1946,2381,53.204476
2,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,1916,2372,53.513884
3,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,3094,3748,53.527508
4,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,3145,3867,53.539172

## Math Scores by Grade

In [315]:
# Use the code provided to separate the data by math grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")].groupby(["school_name"])["math_score"].mean()
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")].groupby(["school_name"])["math_score"].mean()
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")].groupby(["school_name"])["math_score"].mean()
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")].groupby(["school_name"])["math_score"].mean()

math_grade_summary_ = pd.DataFrame({"9th": ninth_graders,
      "10th": tenth_graders,
      "11th": eleventh_graders,
      "12th": twelfth_graders})

math_grade_summary_[["9th", "10th", "11th", "12th"]]

math_grade_summary_

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [316]:
# Use the code provided to separate the data by grade
ninth_graders_b = school_data_complete[(school_data_complete["grade"] == "9th")].groupby(["school_name"])["reading_score"].mean()
tenth_graders_b = school_data_complete[(school_data_complete["grade"] == "10th")].groupby(["school_name"])["reading_score"].mean()
eleventh_graders_b = school_data_complete[(school_data_complete["grade"] == "11th")].groupby(["school_name"])["reading_score"].mean()
twelfth_graders_b = school_data_complete[(school_data_complete["grade"] == "12th")].groupby(["school_name"])["reading_score"].mean()

reading_grade_summary_ = pd.DataFrame({"9th": ninth_graders_b,
      "10th": tenth_graders_b,
      "11th": eleventh_graders_b,
      "12th": twelfth_graders_b})

reading_grade_summary_[["9th", "10th", "11th", "12th"]]
reading_grade_summary_

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [372]:
# Establish the bins 

spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [376]:
# Create a copy of the school summary since it has the "Per Student Budget" 

school_spending_df = per_school_summary.copy()
#school_spending_df

In [377]:
# Use `pd.cut` to categorize spending based on the bins.


school_spending_df["Spending ranges"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=labels)

TypeError: '<' not supported between instances of 'int' and 'str'

In [369]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing Rate"]

KeyError: 'Spending Ranges (Per Student)'

In [360]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Display results
spending_summary

NameError: name 'spending_math_scores' is not defined

## Scores by School Size

In [362]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [363]:
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels)

In [364]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

#per_school_summary["School Size"] = 
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,School Size
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,3318,4077,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,1749,1803,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,1946,2381,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,1871,2172,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,1371,1426,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,3094,3748,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,395,411,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,1916,2372,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,3145,3867,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,910,923,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,2654,3208,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,1653,1688,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,1525,1591,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,2143,2204,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,1680,1739,90.333333,Medium (1000-2000)

In [387]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing Rate"]

In [388]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing Rate": size_overall_passing,
})

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,652.500,667.000,89.883853
Medium (1000-2000),83.374684,83.864438,1595.600,1649.400,90.621535
Large (2000-5000),77.746417,81.344493,2510.875,3003.625,58.286003

## Scores by School Type

In [390]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
#type_math_scores = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary.groupby(["School Type"]).mean()["% Overall Passing Rate"]

In [391]:
# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing Rate"]

KeyError: 'Average Reading Score'

In [383]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing Rate": average_percent_overall_passing_by_type,
})

# Display results
type_summary

NameError: name 'average_math_score_by_type' is not defined